@font-face {
    font-family: RobotoCondensedBold;
    src: url(../RobotoCondensedBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: RobotoCondensedRegular;
    src: url(../RobotoCondensedRegular.ttf);
    font-weight: regular;
}

body{
    font-family: RobotoCondensedRegular, "Verdana";
    font-size: 14px;
    margin:0;
    padding:0;
    color: #4e4e4e;
}

a {
    text-decoration: none;
    color: #4e4e4e;
}
a:hover{
    text-decoration: underline;
}
.m_block {
    margin:0 auto;
    width: 960px;
}
.logo {
    display: inline-block;
    font-family: RobotoCondensedBold;
    margin: 22px 0 23px 0;
}
.l_img {
    display: inline-block;
    margin-right: 10px;
}
.header a{
	font-size: 16px;
}
.logo_name {
    display: inline-block;
    font-size: 30px;
    width:266px;
    line-height: 96%;
}
.logo_name a{
  font-size: 30px;
}

.l_text {
    display: inline-block;
    font-size:30px;
}

.l_right {
    padding-top: 9px;
    display: inline-block;
    float: right;
    text-align: right;
    line-height: 100%;
}

.intro {
    color: #fff;
    padding:50px 0;
    background: darkgrey url(../../image/wide-preview/intro2.jpg) center -1px repeat;
}
.intro  a{
    color:#fff;
}
.extra_more{
position: absolute;
  margin: 114px 0 0 107px;
  text-decoration: underline;
}
.ordr_btn {
    border: solid 6px #fff;
    padding:3px 12px 5px 13px;
    color: #fff;
    font-size: 20px;
     position: absolute;
}

.dizblock .ordr_btn {
    margin: 262px 0 0 178px;
}
.verstka_block .ordr_btn {
     margin: 100px 0 0 178px;
}
.dev_block .ordr_btn {
    margin: 100px 0 0 178px;
}
.buy_block .ordr_btn {
    margin: 100px 0 0 178px;
}
.proger_block .ordr_btn {
     margin: 100px 0 0 178px;
}

.m_block {
    margin:0 auto;
    width: 960px;
}

.contacts ul li{
    display: inline-block;
    margin-left: 20px;
}

.menu ul li{
    display: inline-block;
    margin-left: 20px;
}

a.selected{
    text-decoration: underline;
}

.mshop{
	background-color: #e67e22;
	color: #fff;
	padding: 2px 12px 3px 12px;
}
.logo_name .l1 {
    color:#2980b9;
}

.logo_name .l2 {
    color:#3498db;
}

.header_inner {
    font-size: 18px;
}

li {
    
}


/***** Modal ******/
.backmodal {
    display:none;
    position:fixed;
    background-color: #000000;
    width:100%;
    height:2000px;
    z-index:999999;
    top:0;
    opacity: 0.8;
}

.bmodal {
    display: none;
    position:absolute;
    top:100px;
    width:100%;
    z-index:9999999;
    color: #333333;
}

/******** modal***********/
.bmodal .bcontacts a{
    color:#333333;
}
.bmodal2 {
    width:542px;
    margin:0 auto;
    background-color: #fff;
    padding:14px 20px;
}
.bmheader div{
    display: inline-block;
}

.bmform .input {
    padding:5px 0 ;
}
.bmform input[type=text], .bmform input[type=email]{
    width:306px;
}
input, textarea{
     padding:5px;   
}
input[type=file]{
    padding:5px 0;
}

.bmtitle {
    width: 90%;
}

.bmclose {
    width:7%;
    text-align: right;
    cursor: pointer;
    float: right;
}

.bmheader {
    padding-bottom: 8px;
    font-size: 18px;
    border-bottom: 1px solid #A9A9A9;
}

.blinks a{
    color: #f70000;
    margin-left: 14px;
    font-size: 12px;
}

.blinks {
    display: inline-block;
}

.bcontacts {
    position: absolute;
    margin-left: 300px;
    margin-top: 24px;
}
.bcontacts ul{
list-style: none;
}

.default_file {
    display: none;
}

.bmform {
    padding-top: 7px;
}

.addMoreFile {
    background-color: #333333;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 12px;
}


.delItFile {
     background-color: #de0000;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 11px;
}

.bbuttons {
    padding-top: 8px !important;
    border-top: 1px solid #989898;
    margin-top: 23px;
    
}
.bbuttons input{
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 30px;
    border: solid 0 #fff;
    cursor: pointer;
}

.files_list .input {
    border: 1px solid #989898;
    padding: 0 5px !important;
    margin: 5px 0 !important;
    display: inline-block;
}

.bcont2 {
    width: 29%;
    display: inline-block;
   vertical-align: top;
}

.bctitle {
    font-size: 18px;
    text-align: left;
    padding:10px 0px;
}

/******END MODAL ********************/
/***Stikers***/
.stickers {
    position: fixed;
    top: 100px;
    left: 0;
    color:#fff;
    z-index: 99999;
}

.order_design {
    background-color:#2ECC71;
    font-size: 18px;
}

.dev_serv {
    background-color: #34495E;
    font-size: 15px;
}
.dev_verstka {
    background-color: #af7ac4;
    font-size: 15px;
	 font-size: 18px;
}

.ask_quest {
    background-color: #E67E22;
    font-size: 18px;
}
.move_up a{
	color: #fff;
}
.move_up {
    width: 31px !important;
    background-color:#6173ae;
}
.stick {
    width: 150px;
    padding: 10px 0px 10px 22px;
    display: inline-block;
    margin-bottom:5px;
    cursor: pointer;
    -webkit-box-shadow: inset 10px 0px 0px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 10px 0px 0px 0px rgba(0,0,0,0.49);
    box-shadow: inset 10px 0px 0px 0px rgba(0,0,0,0.49);
}
.clear_both {
    clear: both;
}
.avatar_float{
    text-align: center;
}
.blink_div{
	padding-left: 24px;
	padding-bottom: 33px;
}
.blink_div_back{
    background-color: #000;
	opacity: 0.5;
	height: 28px;
	width: 120px;
	position: absolute;
}
.blink_text{
	display:inline-block;
	z-index:9999999;
	position: absolute;
}
.blink_div_round{
    margin: 4px;
	width:20px;height:20px;-webkit-border-radius: 99px;-moz-border-radius: 99px;border-radius: 99px;
	background-color:#16F474; 
	display:inline-block;
	position: absolute;
	margin-left: 19px;
}
.b_text{
	position:absolute;
	width: 80px;
	margin-left: 29px;
	margin-left: 45px;
	margin-top: 3px;
	font-size: 14px;
}
/***END stikers****/

.section_title {
    font-weight: 900;
    font-size: 36px;
}

.block1 {
    width: 325px;
    display: inline-block;
    height: 484px;
    vertical-align: top;
    position: relative;
      margin-left: -0.1em;
  margin-right: -0.1em;
}
.block2 {
    width: 325px;
    display: inline-block;
    height: 484px;
    vertical-align: top;
     margin-left: -0.1em;
  margin-right: -0.1em;
}
.block3 {
    width: 310px;
    display: inline-block;
    height: 484px;
    vertical-align: top;
    background-color: rgba(0,0,0,0.7);
    margin-left: -0.2em;
    margin-right: -0.1em;
}

.intro .l_lign {
    position: absolute;
    width: 20px;
    height: 485px;
    background-color: #000;
    opacity: 0.5;
}
.intro .r_lign {
    position: absolute;
    width: 20px;
    height: 485px;
    background-color: #000;
    opacity: 0.5;
    margin-left: 305px;
}

.dizblock {
    background-color: #2ecc71;
    height: 325px;
}

.verstka_block {
    background-color: #af7ac4;
    height: 160px;
}

.dev_block {
    background-color: #3498db;
    height:160px;
    height: 162px;
}

.buy_block {
    background-color: #e67e22;
    height: 163px;
}
.buy_block .text b{
font-size: 18px;
}
.proger_block {
    background-color: #34495e;
    height:160px;
}

.contacts {
    font-size: 14px;
}

.bcontent {
    background-color: #ededed;
    padding: 20px 0 40px 0;
}

.portfolio {
    padding: 30px 0;
}
.inner_portfol ul img{
    border: 6px solid #C7C7C7;
}
.footer {
      background-color: #4b4b4b;
    color: #cfcfcf;
    padding: 40px;
}

.dizblock .title {
  font-size: 48px;
  font-weight: 900;
  margin: 10px 0 0 48px;
  position: absolute;
}
.verstka_block .title {
  font-size: 33px;
  font-weight: 900;
  margin: 10px 0 0 48px;
  position: absolute;
}
.dev_block .title {
  font-size: 33px;
  font-weight: 900;
  margin: 10px 0 0 48px;
  position: absolute;
}
.buy_block .title {
  font-size: 33px;
  font-weight: 900;
  margin: 10px 0 0 48px;
  position: absolute;
}
.proger_block .title {
  font-size: 33px;
  font-weight: 900;
  margin: 10px 0 0 48px;
  position: absolute;
}


.dizblock .text {
  font-size: 22px;
  font-weight: 100;
  margin: 70px 0 0 48px;
  position: absolute;
}
.verstka_block .text {
  font-size: 18px;
  font-weight: 100;
  margin: 52px 0 0 48px;
  position: absolute;
}
.dev_block .text {
  font-size: 18px;
  font-weight: 100;
  margin: 52px 0 0 48px;
  position: absolute;
}
.buy_block .text {
  font-size: 16px;
  font-weight: 100;
  margin: 52px 0 0 48px;
  position: absolute;
}
.proger_block .text {
  font-size: 16px;
  font-weight: 100;
  margin: 52px 0 0 48px;
  position: absolute;
}

.block3 .title {
    margin-bottom: -1px;
	margin-top: 14px;
    margin-left:18px;
    font-weight: 100;
    font-size: 30px;
}

.block3 ul {
	margin-top:0;
    font-size: 18px;
}

.block3_ul {
    max-width: 288px;
}

/*******************************/
.bcont2 {
    width: 29%;
    display: inline-block;
   vertical-align: top;
}
.bcont2b {
    width:5%;
     display: inline-block;
}


.pblockitem {
   border-top: 1px solid #969696;
    padding-top: 5px;
    margin-bottom: 7px;
}

.bcontacts2 ul{
    list-style: none;
    margin:0;
    padding:0;
}

.bvitem div{
    display: inline-block;
}

.bvtitle {
    width: 170px;
    vertical-align: top;
    font-weight: 900;
}

.bvitem {
    border-top: 1px solid #969696;
    padding-top: 5px;
    margin-bottom: 5px;
}
.pblocktext {
    font-size: 12px;
}

.pblocktitle {
    font-weight: 900;
    padding:0 0 5px 0;
}

.diz_clipart {
    background: transparent url(../diz-v2.png) 0 0 no-repeat;
  height: 207px;
  width: 207px;
  position: absolute;
  margin: 89px 0 0 81px;
}

.portfolio .section_title {
    text-align: center;
}
.portfolio ul{
    list-style-type:none;
    margin-left: -24px;
}
.portfolio ul li {
    display: inline-block;
/*  margin-left:-.36em;*/
    
    vertical-align: top;
}
/******* shop sell**********/
.shop_sites{
	background-color: #ededed;
	padding: 20px 0 40px 0;
}
.shop_sites_in .section_title {
   text-align: center;
   margin: 8px 0 32px 0;
}
.shop_sites_in .section_title a{
	color: #e67e22;
}
.shop_sites_in ul  {
	list-style-type: none;
    padding: 0px;
	margin-bottom: 0 0 18px 0;
}
.shop_sites_in ul li:first-child{
	margin-left: 0px !important;
}
.shop_sites_in ul li{
	font-size:18px;
    margin-left: 36px;
	display:inline-block;
	width:210px;
	text-align:center;
}

.shop_sites_in ul li h3{
	margin: 3px 0px;
}
.shop_sites_in img{
	width:210px !important;
	height:210px !important;
}
.shop_sites_in  a.buy{
	padding: 8px 54px;
	background-color: #e67e22;
	color: #fff;
}

.price{
	color:#E67E22;
	font-size:18px;
}

/************/
.extra_service{
	display:none;
    padding: 26px 0 38px 0;
}
.extra_service ul{
	list-style:none;
	margin: 17px 0 0 0;
	padding:0;
}
.extra_service ul li{
	font-size:16px;
	display:inline;
	width:400px;
	
}
.section_title{
	text-align:center;
}

/*******������� ��������********/
.ordr_btn2{
	border: solid 6px #fff;
	color: #fff;
	font-size: 24px;
	position: relative;
	padding: 10px 53px 13px 53px;
}

.gray_ordr{
	text-align:center;
}
.gray_ordr a{
	position:relative;
	color:rgb(78, 78, 78);
}
.gray_ordr a{
	border-color: rgb(78, 78, 78);
}

.b-advantages .gray_ordr , .b-services .gray_ordr{
	padding-top: 48px;
	padding-bottom: 68px;
}
.b-advantages .gray_ordr {
	
}
.verstka_h{
	background: url("/image/icons/back1.jpg") no-repeat center center;
	background-size: cover;
	color: #fff;
	padding: 120px;
}
.verstka_h h1{
	font-size:48px;
	margin-bottom: 10px;
}
.verstka_desc{
	font-size: 20px;
	text-align:center;
}
.verstka_ordr{
	text-align:center;
	padding: 48px;
}
.verstka_h .ordr_btn2{
	position:relative;
}
.verstka_in{
	text-align:center;
}
.b-services__list {
	margin: -40px -7px;
}
.b-services__item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 40px 7px;
	text-align: center;
}
.b-services .section_title, .b-advantages .section_title{
	margin: 68px;
}
.b-advantages__list {
	margin: -22px -7px;
}
.b-advantages__list {
	margin: -22px -7px;
}
.b-advantages{
	text-align: center;
}
.b-advantages__item {
	display: inline-block;
	vertical-align: top;
	padding-left: 60px;
	margin: 22px 7px;
	max-width: 400px;
	width: 100%;
}
.vprice{
	padding: 44px;
	background: url("/image/icons/back3.jpg") no-repeat center center;
	background-size: cover;
}
.vprice_in{
	text-align:center;
	font-size: 18px; 
	color: #fff;
}
.vprice_in .section_title{
	margin-bottom: 24px;
}

/****** certificat ********/
.sert_in {
	text-align:center;
	padding: 32px 0 40px 0;
}
.sert_in1{
	padding-bottom: 10px;
}
.sert_in2{
	padding-top: 10px;
}
.sert_in3{
	text-align:center;
	padding-top:20px;
}
.sert_in3 {
	text-decoration: underline;
}
.sert_in  .section_title{
	margin-bottom: 30px;
}
.sert_in a{
margin:0 20px;
}
/****proger page**/
.m_block{
	font-size: 14px;
}
.dev_top {
	padding: 40px 0;
	color: #fff;
	background: url("/image/city-back.jpg") center center;
}
.dev_top .section_title{
	text-align: left;
	font-size: 36px;
}
.dev_photo{
	text-align:center;
}
.dev_tag{
	background: url("/image/tag.png") center right;
	display:inline-block;
	padding: 2px 20px 3px 7px;
	margin-top: 10px;
	margin-right: 10px;
}
.dev_top .dev_photo{
	display:inline-block;
	width:360px;
}
.dev_shorts{
	vertical-align:top;
	display: inline-block;
	width:500px;
}

.dev_job1{
	margin-top: 10px;
	padding: 10px 20px;
	color: #4e4e4e;
	background-color:rgba(255,255,255,0.5);
}
.dev_job1 .title2{
	font-size: 24px;
	font-weight: 900;
}

.cont_dev .section_title{
	margin: 36px 0 36px 0; 
}
.cont_in{
	margin-bottom: 40px;
	vertical-align:top;
}
.cont_dev .con_left{
	display:inline-block;
	width:650px;
}

.cont_dev .cont_right{
	padding:50px 10px 10px 20px;
	vertical-align: top;
	display:inline-block;
	width:270px;
}
 .title3{
	font-size: 24px;
	font-weight: 900;
}
.dev_link{
margin-top:3px;
	padding:20px;
	background-color: #E7E7E7;
}
.dev_link a{
	text-decoration: underline !important;
}
.ava_name{
	padding: 5px;
	background-color:rgba(255,255,255,0.7);
	width: 127px; 
	margin: 0px 0 6px 16px;
}
/*******blog*******************/
.blog{
background-color: rgb(195, 195, 195);
padding: 20px 0;
}

.blog .m_block{

	background-color: #fff;
	padding:40px 0;
}
.blog .posts{
	margin:0 20px 0 40px ;
	display: inline-block;
	width:600px;
}
.blog .sidebar{
margin:0 20px 0 0;
vertical-align:top;
	display: inline-block;
	width:270px;
}
.sidebar ul{
	list-style: none;
}
.sidebar li{
	list-style: none;
}
.page-numbers{

	margin: 20px 5px;
}
.page-numbers li{

	display: inline;
}
/********blog*******/

/***************** en***********************/
.intro_inner_en .proger_block{
height: 323px;

}
.more_items{
    font-size: 24px;
    margin-top: 14px;
}